body{
	padding: 70px 0;
	
}
footer{
	background: #ececec;
	height: 50px;	
}

.block{
	background: #cecece;
	border: 1px solid #eee;
}
.sidebar{
	position: fixed;
    top: 50px;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;    
    border-right: 1px solid #eee;
}
.glyphicon{
	padding-right: 10px;	
}